.display-btns .button{
    border-radius: 8px;
    background-color: #FAD273;
    border-color: transparent;
    width: fit-content;
    margin-bottom: 10px;
}
.displayBranch .ticketsCount{
max-width: 50px;
}
.Landing .button:hover{ 
    cursor: pointer;
    filter: brightness(50%);
}
.Landing .seacrh{
    border-radius: 0px 8px 8px 0px;
    background-color: #FAD273;
    border-color: transparent;
    
    height: 100%;
}

.inputs{
    border-color: transparent;
    border-radius: 0px 10px 10px 0px;
    font-size: 15px;
}
.main{
    margin-top: 7%;
}
.cards{
    width: 100%;
}
.card{
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    
    padding: 15px;
    font-size: 15px;
    height: fit-content;
}
.link-text{
    color: gray;
    background-color: transparent;
    font-size: 16px;
}
.destination{
    border-radius: 10px;
    height: 150px;
    width: 130px;
    margin-right: 10px;
}
.image{
    border-radius: 10px;
}
.display-card .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display-card{
    align-items: center;
    background-color: #FAD273;
    border-radius: 10px;
    padding: 10px;    
    text-align: center;
    color: #0B6C88;
}
.display-card .button{

    background-color: #0B6C88;
    color: #FAD273;

}
.display-card .amount{

    background-color: #FAD273;
    opacity: 50%    ;
    color: white;
    max-width: 50px;
    max-height: 25px;

}
.displayBranch{
    background-color: #0B6C88 ;    
    border-radius: 15px;    
    color:#FAD273;
    padding: 10px;
    color: white;
}
.display-header{
    font-size: 26px;
}
.display-btns{
    text-align: left;
    padding-left: 10px;
    row-gap: 10px;
}