@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}*/

.Passengerlogin {
    min-height: 100vh;
    background-image: url('../images/hero_stations.jpg');
    background-size:cover;
    background-attachment: fixed; 
    backdrop-filter: blur(5px);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.Passengerlogin section {
    border-radius: 20px;
  width: 100%;
  max-width: 420px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(11, 108, 136);    
  margin-left: auto;
  margin-right: auto;
  z-index: 10rem;
}

.Passengerlogin form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.Passengerlogin a, a:visited {
    color: #fff;
}

.Passengerlogin input[type="email"],
.Passengerlogin input[type="text"],
.Passengerlogin input[type="password"],
.Passengerlogin select,
.Passengerlogin button,
.Passengerlogin textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.Passengerlogin label,  
.Passengerlogin button {
  margin-top: 1rem;
}

.Passengerlogin button {
  padding: 0.5rem;
  background-color: rgb(250, 210, 115);
}

.Passengerlogin li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
