.float {
  display: flex;
}
.space-even {
  justify-content: space-evenly;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.over-flow {
  overflow-x: auto;
  height: 200px;
}
.gap {
  gap: 30px;
}
.gap-2 {
  gap: 15px;
}
.gap-6 {
  gap: 60px;
}
.row {
  margin: 10px 0px 10px 0px;
}
.hide{
  display: none;
}